#trans{
	background:transparent;
	background-image:none;
	color: white;
	border-color:transparent;
	box-shadow:none;
	/*margin-bottom: 20px;*/
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}


/*#trans a {
	color: white;
	font-weight: bold;
}*/
/*#trans li a {
	color: white;
	font-weight: bold;
	
}*/
#mod {
	outline: none;
}
.navbar-header a {
	font-family: 'Josefin Slab', sans-serif;
	/*vertical-align: middle;*/
}
#logo{
	display: inline-block;
	float: left;
	margin: 10px;

	vertical-align: middle;
}




/*
.navbar-default .navbar-nav > .active{
      color: #888;
    background: transparent;
  }*/

.navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Josefin Slab', sans-serif;


}
.navbar-default .navbar-nav > .active{
    /*color: white;*/
   background: transparent;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: thick solid white;
	color: white;
	background: transparent;
 }




body { 
	/*background: url("../buy.jpg");
   	background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;  
    background-attachment: fixed;  */
    position: relative;
	/*padding-top: 70px; */
}


/*body >p {
	color: white;
}

body >h1 {
	color: white;
}*/

#section1 {
	/*padding-top:50px;*/
	/*height:600px;*/
	height: 100vh;
	max-height: 100%;
	/*color: #fff;*/
	background: url("../images/buy.jpg");
	overflow: auto;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-position: center center;  

}
#section2 {height: 100vh; overflow:auto; }
#section3 {padding-top:50px;height: 100vh; font-family: 'Josefin Slab', sans-serif; overflow:auto;}

#animate {
	font-family: 'Josefin Slab', sans-serif;
	padding: 8em 2em;
	font-size: 18px;
	/*position: bottom;*/
	/*background: url("../buy.jpg");*/
	/*background: #222;*/
	margin-top: 70px;

	/*center in div*/
	

	
	color: white;
}
#animate h1,h2{

	font-weight: 200;
	margin: 0.4em 0;
}

#animate h1{
	font-size: 3.5em;
}

#animate h2 {
  color: white;
  font-size: 2em;
}



/*Products section*/


.team-sec{float: left;width: 100%; font-family: 'Josefin Slab', sans-serif;}
.team .photo {width: 230px; height: 230px; max-height: 100%; max-width: 100%; display: inline-block; overflow: hidden; position: relative; }
.photo-shadow {position: absolute; z-index: -1; top: 12px; left: 16px; bottom: -10px; border: 1px solid #E3E3E3; height: 250px; width: 246px; background: #fff; }
.col-item{position: relative;}
.team{margin-top: 60px;}
.team .photo img{ width: 100%; max-width:100%; vertical-align: middle;position: relative;}
.social-connect{margin-top: 13px;}
.info{margin-top: 22px;}
.info .name{font-size: 18px;font-weight: 600;margin-bottom: 2px;}
.info .degination{font-size: 16px;font-weight: 300;font-style: italic;color: #8B8B8B;}
.social-connect a{ display: inline-block; border: 1px solid #E3E3E3; font-size: 14px; color: #919191; width: 24px; height: 24px; text-align: center; line-height: 24px;margin-right: 4px;}
.social-connect a .fa{margin: 0;}
.social-connect a:hover{background-color: #4EBEE9;color: #fff;}
#animateCarousel{
	border: 5px solid #ddd;
	height: 320px;
	position: absolute;
	bottom: -90px;
	width: 108%;
	left: -5.4%;
}
.carousel-line > .controls{position: absolute; bottom: 5px; left: 50%; margin-left: -50px; background:rgba(255, 255, 255, 0.7); padding: 0px 20px; color: #000;}
.carousel-line > .controls > a{    color: #868686; font-size: 24px; font-weight: 300;}


/* REVIEWS Carousel */

#quote-carousel {
    /*padding: 0 10px 30px 10px;*/
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    /*left: -60px;*/
}
#quote-carousel .carousel-control.right {
    /*right: -60px;*/
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    /*margin-right: -19px;*/
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}






